[Unit]
Description=some description
After=network.target

[Service]
User=your user
Group=your group
WorkingDirectory=path/to/your/bot/dir
Restart=on-failure
RestartSec=2s
ExecStart=/root/.cache/pypoetry/virtualenvs/your_virtual_env/bin/python run.py

[Install]
WantedBy=multi-user.target
